  <h1>Companies</h1>
  <hr>
  <% @companies.each do |company| %>
  <br>
  <%= link_to company.name, company_events_path(company) %>
  <br>
  <hr>
  <% end %>
  <br>
  <%= link_to "New Company", new_company_path(@company) %>
